footer {
  padding: 2.188rem 0 5rem;
  background: #FFF369;
  color: #666666;

  ul {
    max-width: 62.5em;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;

    li {
      width: 33.33%;
      padding: 0 0.75em;
      text-align: left;
      list-style-type: none;

      h4 {
        margin-top: 0;
      }

      a {
        color: #666666;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media only screen and (max-width: 700px) {
    ul {
      flex-flow: column nowrap;

      li {
        width: 100%;
      }
    }
  }
}