@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

$font-stack-default: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;

$color-primary: #FFCE00;
$color-background: #FFF369;
$color-link: #0093FF;
$color-bg: #EAF6FF;
$color-cta: #FF7600;
